@model IdentitySample.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}


<div class="row">
    <div class="col-lg-6 col-lg-push-3 col-md-12">
        <section class="box-typical">
            <header class="box-typical-header-sm">@ViewBag.Title</header>
            <article class="profile-info-item">
                <header class="profile-info-item-header">
                    <i class="font-icon font-icon-notebook-bird"></i>
                    Change Password Form
                </header>
                <div class="text-block text-block-typical">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Old Password" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Password" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Change password" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </div>
            </article>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}